/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, h4, img{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}
*/

/* body, html{
  height: 100%;
  background-color: #1f1f1f;
  color: white;
  margin: 0 auto;
}
*/

#root{
  height: 100%;
}

.ant-tabs.ant-tabs-top.ant-tabs-line{
  height: 100%;
  overflow-y: auto;
}

.ant-tabs-content.ant-tabs-content-animated.ant-tabs-top-content{
  height: 100%;
}

.ant-list.ant-list-lg.ant-list-split{
  width: 100%;
}

.ant-tabs-bar.ant-tabs-top-bar{
  position: fixed;
  width: 94.5%;
  background-color: #fff;
  z-index: 1;
}

.ant-tabs-content.ant-tabs-content-animated.ant-tabs-top-content{
  margin-top: 46px;
}

.ant-spin.ant-spin-spinning{
  width: 100%;
}

.container{
  height: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 5px 10px 0px 10px;
}

.return:hover{
  color: #40a9ff;
}

.ant-tabs-bar.ant-tabs-top-bar{
  margin: 0px;
}


.ant-tabs.ant-tabs-top.ant-tabs-line::-webkit-scrollbar {
  width: 6px;
}

.ant-tabs.ant-tabs-top.ant-tabs-line::-webkit-scrollbar-track {
  background: rgb(185, 185, 185);
}

.ant-tabs.ant-tabs-top.ant-tabs-line::-webkit-scrollbar-thumb {
  background: rgb(110, 175, 219);
}

.ant-tabs.ant-tabs-top.ant-tabs-line::-webkit-scrollbar-thumb:hover {
  background: rgb(96, 153, 192);
} 